/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* normalize css no longer needed - most modern browsers handle it already
   Reset styles across the whole site here.
*/
/* universal selector*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato," sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px;
}

/* HEADING CONTAINER */
.header {
  background-image: linear-gradient(
    to right bottom,
    rgba(126, 213, 111, 0.8),
    rgba(40, 180, 131, 0.8)),
  url(../img/hero.jpg);
  background-position: top;
  background-size: cover;
  height: 95vh;

  /* Parent postion for logo and heading text */
  position: relative;

  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 90%);
}

/* LOGO */
.logo-box {
  /* child position in relation to .header parent */
  position: absolute;
  top: 40px;
  left: 40px;
}

.logo {
  height: 35px;
}

/* HEADING TEXT CONTAINER */
.text-box {
  left: 50%;
  /* child position in relation to .header parent */
  position: absolute;
  top: 40%;
  text-align: center;
  transform: translate(-50%, -50%);
}

/* HEADING TEXT */
.heading-primary {
  color: #fff;
  margin-bottom: 60px;
  text-transform: uppercase;

  /* avoid the animation from moving up on completion */
  backface-visibility: hidden;
}

.heading-primary-main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;

  animation-duration: 3s;
  animation-name: moveInLeft;
  animation-timing-function: ease-out;

  /*
  animation-delay: 2s;
  animation-iteration-count: 2;
  */
}

.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17.4px;

  animation: moveInRight 3s ease-out;

  /* animation-name: moveInRight;
  animation-duration: 3s;
  animation-timing-function: ease-out */
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* Discover Button */
.btn:link,
.btn:visited {
  display: inline-block;
  padding: 15px 40px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 100px;

  /* parent position for pseudo element */
  position: relative;

  /* must be on initial state  */
  transition: all .2s;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}

/* on click */
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.btn-white {
  background-color: #fff;
  color: #777;
}

/* treated as child of .btn */
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;

  /* position in relation to .btn parent */
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;

  /* animation should be applied to initial state */
  transition: all .4s;
}

/* after pseudo element */
.btn-white::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom 3s ease-out .75;
  /* apply the keyframe 0% properties before the animation starts */
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  80% {
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
