// append a psuedo element after the element, which will then clear the floats
@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin fixedTopLeft {
  position: fixed;  // doesn't move as you scroll
  top: 0;
  left: 0;
  z-index: 9999;
}
