.popup {
  @include fixedTopLeft;

  background-color: rgba($color-black, .8);
  height: 100vh;
  width: 100%;

  // only display the target when the anchor tag is clicked
  opacity: 0;
  visibility: hidden;
  transition: all .3s;

  &__content {
    @include absoluteCenter;

    display: table;  // parent of the left and right child table-cells

    background-color: $color-white;
    box-shadow: 0 2rem 4rem rgba($color-black, .2);
    border-radius: 3px;
    overflow: hidden;  // prevent images from hiding the border radius

    height: 50rem;
    width: 75%;

    // initially display a minimised version of the popup
    opacity: 0;
    transform: translate(-50%, -50%) scale(.25);
    transition: all .5s .2s;
  }

  // Simulate a table to display the image and text content side-by-side
  &__left {
    display: table-cell;  // Allow the text to be positioned vertically in relation to the height of the combined images
    width: 33.333333%;
  }

  &__right {
    display: table-cell;  // Allow the text to be positioned vertically in relation to the height of the combined images
    vertical-align: middle;  // property can be used with table-cell display

    padding: 3rem 5rem;
    width: 66.666667%;
  }

  &__img {
    display: block;
    width: 100%;
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;

    // column layout for text
    // replace manual prefixing with a tool like auto-prefixer
    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 1px solid $color-grey-light;
    column-count: 2;
    column-gap: 4rem;  // 1em = 14px = font-size of current element
    column-rule: 1px solid $color-grey-light;

    // Auto hyphenate words split across lines
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;  // dependant on the html tag having the language set
  }

  // State of popup when opened
  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &__close {
    &:link,
    &:visited {
      display: inline-block;

      color: $color-grey-dark;
      font-size: 3rem;
      line-height: 1;
      text-decoration: none;
      transition: all .2s;

      // position in the top right corner of the popup
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
    }

    &:hover {
      color: $color-primary;
    }
  }
}
